
@mixin flex( $dis, $just, $aling) {
    display: $dis;
    justify-content: $just;
    align-items: $aling;
}
.padreNosotros{
    background-color: $color;
    
    .mainNosotros{
        h2{
            @include flex( flex, center, center);
            margin: 80px auto 20px auto;
            padding: 15px;
            font-size: 30px;
            font-family: $fontFamily;
        }
        .descripcion {
            font-size: 30px;
            width: 80%;
            font-family: $fontFamily;
            text-align: center;
            margin: 50px auto;
            padding: 15px;
        }
    
    }

    .imagenScroll{
        background-image: url(../imagenes/localUnasRedimensionada1.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        height: 600px;
    }
}