* {
  padding: 0;
  margin: 0;
}

.header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header;
  margin: 0px;
  background-color: #ffdbda;
}

.header .logo {
  border-radius: 100%;
  margin: 10px 20px;
}

.header a {
  color: black;
  font-size: 20px;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0px;
  margin-top: 0;
  height: 150px;
  background-color: black;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: footer;
}

footer div {
  background-color: white;
  gap: 50px;
}

/*RESPONSIVE*/
@media (max-width: 768px) {
  .padre {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: auto 4fr auto;
        grid-template-rows: auto 4fr auto;
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
        grid-template-areas: "header" "main" "footer";
  }
  .padre .navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .padre .text {
    font-size: 10px;
  }
}

.padre {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 3fr auto;
      grid-template-rows: auto 3fr auto;
      grid-template-areas: "header" "main" "footer";
}

.padre main {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: main;
  width: 100%;
  /*CARDS*/
}

.padre main .car-index {
  width: 80%;
  margin: auto;
  margin-top: 20px;
}

.padre main .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  border: 2px solid #96c0b7;
  border-radius: 20px;
  margin: 70px auto;
  padding: 15px;
  background-color: #96c0b7;
  -webkit-box-shadow: 10px 10px 20px black;
          box-shadow: 10px 10px 20px black;
  font-size: 30px;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
}

.padre main .card {
  padding: 0%;
}

/*RESPONSIVE*/
@media (max-width: 426px) {
  .padre {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: auto 3fr auto;
        grid-template-rows: auto 3fr auto;
        grid-template-areas: "header" "main" "footer";
  }
  .padre main .text {
    font-size: 20px;
  }
}

.padreNosotros {
  background-color: #ffdbda;
}

.padreNosotros .mainNosotros h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 80px auto 20px auto;
  padding: 15px;
  font-size: 30px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.padreNosotros .mainNosotros .descripcion {
  font-size: 30px;
  width: 80%;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  margin: 50px auto;
  padding: 15px;
}

.padreNosotros .imagenScroll {
  background-image: url(../imagenes/localUnasRedimensionada1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 600px;
}

.servicioFotos {
  margin: 100px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 1px;
  -webkit-column-gap: 1px;
          column-gap: 1px;
  -webkit-box-shadow: 10px 10px 20px black;
          box-shadow: 10px 10px 20px black;
  border-radius: 15px;
  border: 10px solid #07c0c0;
  background-color: #07c0c0;
  width: 70%;
}

.servicioFotos .foto2 {
  overflow: hidden;
  border-radius: 10px;
}

.servicioFotos .foto2:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

/*RESPONSIVE*/
/*# sourceMappingURL=style.css.map */